/* Button styling */
/* Un-themed */
.btn, button, [type=submit] {
  display: block;
  line-height: 3rem;
  overflow: hidden;
  padding: 0 1.5rem;
  width: auto;
  max-width: 300px;
  border: 1px solid transparent;
  border-radius: .25rem;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  -moz-transition: all .3s;
  background-color: #fefefe;
  border-color: #d9d9d9;
  color: #737373;
  font-size: .75em;
  letter-spacing: .03rem;
  margin: .4rem;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 400;
}

.btn:hover, button:hover, [type=submit]:hover {
  -webkit-transition: all .3s;
transition: all .3s;
-moz-transition: all .3s;
background: #eee;
}

.animated:hover {
   -webkit-transform: scale(1.1);
         transform: scale(1.1);
}

.btn:active, button:active, [type=submit]:active {
  -webkit-transition: all .3s;
transition: all .3s;
-moz-transition: all .3s;
background: #ccc;
}

.animated:active {
   -webkit-transform: scale(0.97);
           transform: inherit, scale(0.97);
}

.btn:focus, button:focus, [type=submit]:focus {
  outline: none;
}

.btn:disabled, button:disabled, [type=submit]:disabled {
  opacity: 0.8;
cursor: not-allowed;
}

/* Different styles */

/* Outline (white) */
.btn-outline {
    color: #fff;
    background: transparent;
    transition: all .3s;
    border: 1px solid #fff;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}

.btn-outline:hover,
.btn-outline:active {
      background: rgba(255, 255, 255, 0.35);
    color: #fff;
  transition: all .3s;
}

/* Inverted outline (dark) */
.btn-outline-inverted {
  border: 1px solid #222;
  color: #222;
  background: transparent;
  transition: all 0.3s;
}

.btn-outline-inverted:hover,
.btn-outline-inverted:active {
  color: #fff;
  background: #222;
}

/* Transparent Background */
.btn-transparent {
  background: transparent;
  color: #999;
}

.btn-transparent:hover {
  background: rgba(0, 0, 0, .3);
  color: #999;
  -webkit-transform: none;
          transform: none;
}

.btn-transparent:active {
  background: rgba(0, 0, 0, .5);
  color: #999;
  -webkit-transform: none;
          transform: none;
}

.btn-container { /* Make floated buttons respond to margins */
    overflow: hidden;
}

/* Right of input */
.has-controls.input:not([class*="left action"])>button:last-child, .has-controls.input:not([class*="left action"])>.btn:last-child>.btn {
    border-radius: 0 .28571429rem .28571429rem 0;
}
