.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    backface-visibility: hidden;
}

.card:hover {
    box-shadow: 0 4px 6px rgba(10, 10, 10, 0.1), 0 0 12px 2px rgba(10, 10, 10, 0.1);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.slide-up:hover .card-image {
   transform: translateY(-40px);
}

.card:hover .card-image:after {
  opacity: 0;
}

.card-image {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
      border-radius: 5px 5px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.card-image:after {
  content: "";
display: block;
position: absolute;
background-color: rgba(0, 0, 0, 0.1);
top: 0;
left: 0;
right: 0;
-webkit-transition: all 500ms;
transition: all 500ms;
bottom: 0;
}

.card-container {
  display: block;
position: relative;
  height: 40%;
}

.card .title-container .title, .card .title-container .subtitle {
  color: #fff;
  margin: 1rem auto;
}

.card .title-container {
  position: absolute;
bottom: 1rem;
width: 100%;
  padding: 0 1rem;
}

.card .title-container .title {
  font-weight: 300;
  font-size: 1.5rem;
      margin-bottom: .3rem !important;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  }

.card .action-bar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 .5rem;
    border-top: 1px solid #E0E0E0;
    box-sizing: border-box;
    -webkit-transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card button, .card .btn {
  display: inline-block;
  display: inline-block;
border-color: transparent;
}

.card button:hover, .card .btn:hover {
  -webkit-transform: none;
          transform: none;
}

.card button:focus, .card .btn:focus {
  -webkit-transform: none;
          transform: none;
}

/* More card components in second example */
.mobile-title {
  position: absolute;
  left: 0;
      margin: 1.7rem 0;
  background-color: #FFF;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 100%;
      padding: .5rem 1rem;
      backface-visibility: hidden;
}

.mobile-title .title, .mobile-title .subtitle {
  margin: .3rem;
  text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.card:hover .mobile-title {
  margin-top: -80px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.card:hover .card-body {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.card-body {
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.card-footer {
  position: relative;
    margin: .5rem auto;
    font-size: .75rem;
    color: #9FA5A8;
}

/* Card avatar */
.card .avatar {
  border-radius: 50%;
    position: relative;
    transition: all .3s;
    width: 70px;
margin: .5rem;
}

/*
    NOTE: To have cards with the same height, place the card class with col-x classes and have the parent have fluid-container.
*/