/* BASE STYLING FOR CIRRUS*/

* {
  margin: 0;
  padding: 0;
  /* Prevent setting borders from increasing the size of an elrement */
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

/* Nunito Sans for the font */
body {
  letter-spacing: 0.01rem;
    line-height: 1.6;
    font-size: 1rem;
  font-weight: 400;
  font-family: "Nunito Sans", "Segoe UI", "HelveticaNeue", "Helvetica Neue", Helvetica, "Ubuntu", Arial, sans-serif;
  letter-spacing: 0.01rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  color: #4a4a4a;
}

/* remove bullets from unordered lists */
ul {
  list-style: none;
}

/* Setting up embedded content */
img,
embed,
object,
audio,
video {
  max-width: 100%;
  height: auto;
}

/* remove iframe borders */
iframe {
  border: 0;
  outline: 0;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

.accent {
  background: -webkit-linear-gradient(top, #FF5F6D, #FFC371);
  background: linear-gradient(to bottom, #FF5F6D, #FFC371);
  color: #fff;
}

.accent-horiz {
  background: -webkit-linear-gradient(left, #FF5F6D, #FFC371);
  background: linear-gradient(to right, #FF5F6D, #FFC371);
}

/* Selection Color */
::-moz-selection { /* Code for Firefox */
    background: rgba(0, 161, 255, 0.2);
}

::selection {
    background: rgba(0, 161, 255, 0.2);
}

video {
    position: absolute;
        height: 100vh;
        object-fit: fill;
        width: 100%;
}
