.table {
    margin-bottom: 1.5rem;
    width: 100%;
    border-collapse: collapse; /* Allows us to set 0 margin in table cells */
    border-spacing: 0;
}

.table td, .table th {
        border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: 0.75rem;
    vertical-align: top;
    text-align: center;
    margin: 0;
}

.table tr {
    -webkit-transition: all .3s;
    transition: all .3s;

}

.table tr:hover, .table.striped tbody tr:nth-child(even):hover {
    background: #eee;
}

/* Thicker border for table header */
.table thead th, .table thead {
    border-bottom: 2px solid #dbdbdb;
}

.table.bordered thead th, .table.bordered thead {
    border-bottom: 1px solid #dbdbdb;
}

.table thead th, .table tfoot th {
      padding: 1rem;
}

.table tfoot th {
  border-top: 2px solid #dbdbdb;
  border-bottom: none;
}

/* CUSTOM STYLES */
/* All borders */
.table.bordered td, .table.bordered th {
  border: 1px solid #dbdbdb;
}

.table.bordered thead td, .table.borderd thead {
  border-width: 1px;
}

/* Striped table */
.table.striped tbody tr:nth-child(even) {
    background-color: #fafafa;
}


/* Decrease padding */
.table.small td, .table.small th {
    padding: 0.25rem 0.75rem;
}

/* Fixed title table */
.table.fixed-head thead {
      position: relative;
    display: block;
}

.table.fixed-head tbody {
      height: 200px; /* Set the height you want */
    display: block; /* Needed */
    overflow: auto; /* Shows scrollbars */
}

.table.fixed-head tr {
  display: table;
    width: 100%; /* Forces row to span container */
}