/* Utility classes to help solve some very annoying issues */

.this-inline {
  display: inline;
}

.this-inline-block {
  display: inline-block;
}

.this-inline-flex {
  display: -webkit-inline-bpx;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/*
   When using floats, clearfix allows the container to automatically resize so that
   other elements are not blocked by children.
*/

.clearfix:after {
  clear: both;
  content: " ";
  display: table;
}

/* This is mainly to keep elements from overlapping when using floats */
.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clear-both {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

/* Center element - best used for hero bodies or text */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
      margin: 0 auto;
}

.center-alt, .center-alt:hover, .center-alt:active { /* If flexbox method fails, this works for elements with unknown dimensions */
  position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.vertical-center {
  display: flex;
  justify-content: center;
}

.horizontal-center {
  display: flex;
  align-items: center;
}

.this-overlay {
  bottom:0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.hide-overflow {
  overflow: hidden !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.hide {
  display: none !important;
}

.disabled {
  cursor: not-allowed;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: block;
  padding: 20px;
}

.box:not(:last-child) {
  margin-bottom: 20px;
}

/* Avatar */
.avatar {
  border-radius: 50%;
    position: relative;
        display: block;
    margin: auto;
}

.fill-width {
  width: 100%
}

/* Do the actual balancing only on larger screens */
@media screen and (min-width: 769px) {
.level, .level-left, .level-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }


}
