
<button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large">Login</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
      <!-- <div id="sliderui-popup" class="white-popup">
          <div class="sliderui-popup__icon"></div>

          <div class="sliderui-popup__title">
            Add sliders to any website <br>with <strong>just two lines of code</strong>
          </div>

          <div class="sliderui-popup__button-row">
            <a class="sliderui-popup__button" href="http://sliderui.com" target="_blank">Check out sliderui.com!</a>
          </div>

          <div class="sliderui-popup__body">
            <ul>
              <li>No programming knowledge needed</li>
              <li>Create sliders using a beautiful interface</li>
              <li>❤️ Its free ❤️</li>
            </ul>
          </div>
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
      </div> -->
      <div class="w3-center"><br>
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">&times;</span>
        <img src="http://lumensession.dev/assets/images/placeholder.jpg" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
      </div>



      <!-- <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
        <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
      </div> -->

    </div>
  </div>

<style media="screen">
#sliderui-popup {
  position: relative;
  padding: 30px 0;
  border: solid 10px #8687c5;
  border-radius: 5px;
  box-shadow: 0 0 35px #666;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
.sliderui-popup__icon {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 40px;
}
.sliderui-popup__title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 40px;
    text-align: center;
}

strong {
    font-weight: bold;
}
.sliderui-popup__button-row {
    text-align: center;
    margin-bottom: 40px;
}
.sliderui-popup__button {
    background: #8687c5;
    padding: 12px 22px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    font-size: 24px;
}
.sliderui-popup__body ul {
    margin-left: 100px;
}
ol, ul {
    list-style: none;
}
.sliderui-popup__body li {
    list-style: disc;
    margin: 0 0 12px 20px;
    font-size: 16px;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}
button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
}
.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}
.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}




</style>
