/* The main file for all the CSS styles */

/* -------- DEFAULT -------- */
/* BASE STYLING FOR CIRRUS*/

* {
  margin: 0;
  padding: 0;
  /* Prevent setting borders from increasing the size of an elrement */
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

/* Nunito Sans for the font */
body {
  letter-spacing: 0.01rem;
    line-height: 1.6;
    font-size: 1rem;
  font-weight: 400;
  font-family: "Nunito Sans", "Segoe UI", "HelveticaNeue", "Helvetica Neue", Helvetica, "Ubuntu", Arial, sans-serif;
  letter-spacing: 0.01rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  color: #4a4a4a;
}

/* remove bullets from unordered lists */
ul {
  list-style: none;
}

/* Setting up embedded content */
img,
embed,
object,
audio,
video {
  max-width: 100%;
  height: auto;
}

/* remove iframe borders */
iframe {
  border: 0;
  outline: 0;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

.accent {
  background: -webkit-linear-gradient(top, #FF5F6D, #FFC371);
  background: linear-gradient(to bottom, #FF5F6D, #FFC371);
  color: #fff;
}

.accent-horiz {
  background: -webkit-linear-gradient(left, #FF5F6D, #FFC371);
  background: linear-gradient(to right, #FF5F6D, #FFC371);
}

/* Selection Color */
::-moz-selection { /* Code for Firefox */
    background: rgba(0, 161, 255, 0.2);
}

::selection {
    background: rgba(0, 161, 255, 0.2);
}

video {
    position: absolute;
        height: 100vh;
        object-fit: fill;
        width: 100%;
}


/* -------- ANIMATIONS -------- */
/* Spinning loading animation */
@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.hover-grow:hover {
      transform: scale(1.1);
    transition-duration: .08s;
}

/* Heart animation */
@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}

/* -------- BUTTONS -------- */
/* Button styling */
/* Un-themed */
.btn, button, [type=submit] {
  display: block;
  line-height: 3rem;
  overflow: hidden;
  padding: 0 1.5rem;
  width: auto;
  max-width: 300px;
  border: 1px solid transparent;
  border-radius: .25rem;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  -moz-transition: all .3s;
  background-color: #fefefe;
  border-color: #d9d9d9;
  color: #737373;
  font-size: .75em;
  letter-spacing: .03rem;
  margin: .4rem;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 400;
}

.btn:hover, button:hover, [type=submit]:hover {
  -webkit-transition: all .3s;
transition: all .3s;
-moz-transition: all .3s;
background: #eee;
}

.animated:hover {
   -webkit-transform: scale(1.1);
         transform: scale(1.1);
}

.btn:active, button:active, [type=submit]:active {
  -webkit-transition: all .3s;
transition: all .3s;
-moz-transition: all .3s;
background: #ccc;
}

.animated:active {
   -webkit-transform: scale(0.97);
           transform: inherit, scale(0.97);
}

.btn:focus, button:focus, [type=submit]:focus {
  outline: none;
}

.btn:disabled, button:disabled, [type=submit]:disabled {
  opacity: 0.8;
cursor: not-allowed;
}

/* Different styles */

/* Outline (white) */
.btn-outline {
    color: #fff;
    background: transparent;
    transition: all .3s;
    border: 1px solid #fff;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}

.btn-outline:hover,
.btn-outline:active {
      background: rgba(255, 255, 255, 0.35);
    color: #fff;
  transition: all .3s;
}

/* Inverted outline (dark) */
.btn-outline-inverted {
  border: 1px solid #222;
  color: #222;
  background: transparent;
  transition: all 0.3s;
}

.btn-outline-inverted:hover,
.btn-outline-inverted:active {
  color: #fff;
  background: #222;
}

/* Transparent Background */
.btn-transparent {
  background: transparent;
  color: #999;
}

.btn-transparent:hover {
  background: rgba(0, 0, 0, .3);
  color: #999;
  -webkit-transform: none;
          transform: none;
}

.btn-transparent:active {
  background: rgba(0, 0, 0, .5);
  color: #999;
  -webkit-transform: none;
          transform: none;
}

.btn-container { /* Make floated buttons respond to margins */
    overflow: hidden;
}

/* Right of input */
.has-controls.input:not([class*="left action"])>button:last-child, .has-controls.input:not([class*="left action"])>.btn:last-child>.btn {
    border-radius: 0 .28571429rem .28571429rem 0;
}

/* -------- CARD -------- */
.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    backface-visibility: hidden;
}

.card:hover {
    box-shadow: 0 4px 6px rgba(10, 10, 10, 0.1), 0 0 12px 2px rgba(10, 10, 10, 0.1);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.slide-up:hover .card-image {
   transform: translateY(-40px);
}

.card:hover .card-image:after {
  opacity: 0;
}

.card-image {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
      border-radius: 5px 5px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.card-image:after {
  content: "";
display: block;
position: absolute;
background-color: rgba(0, 0, 0, 0.1);
top: 0;
left: 0;
right: 0;
-webkit-transition: all 500ms;
transition: all 500ms;
bottom: 0;
}

.card-container {
  display: block;
position: relative;
  height: 40%;
}

.card .title-container .title, .card .title-container .subtitle {
  color: #fff;
  margin: 1rem auto;
}

.card .title-container {
  position: absolute;
bottom: 1rem;
width: 100%;
  padding: 0 1rem;
}

.card .title-container .title {
  font-weight: 300;
  font-size: 1.5rem;
      margin-bottom: .3rem !important;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  }

.card .action-bar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 .5rem;
    border-top: 1px solid #E0E0E0;
    box-sizing: border-box;
    -webkit-transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card button, .card .btn {
  display: inline-block;
  display: inline-block;
border-color: transparent;
}

.card button:hover, .card .btn:hover {
  -webkit-transform: none;
          transform: none;
}

.card button:focus, .card .btn:focus {
  -webkit-transform: none;
          transform: none;
}

/* More card components in second example */
.mobile-title {
  position: absolute;
  left: 0;
      margin: 1.7rem 0;
  background-color: #FFF;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 100%;
      padding: .5rem 1rem;
      backface-visibility: hidden;
}

.mobile-title .title, .mobile-title .subtitle {
  margin: .3rem;
  text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.card:hover .mobile-title {
  margin-top: -80px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.card:hover .card-body {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.card-body {
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.card-footer {
  position: relative;
    margin: .5rem auto;
    font-size: .75rem;
    color: #9FA5A8;
}

/* Card avatar */
.card .avatar {
  border-radius: 50%;
    position: relative;
    transition: all .3s;
    width: 70px;
margin: .5rem;
}

/*
    NOTE: To have cards with the same height, place the card class with col-x classes and have the parent have fluid-container.
*/

/* -------- CODE -------- */
code {
  white-space: nowrap;
  padding: 1em;
margin: .5em 0;
overflow: auto;
     background: #f4f5f6;
      
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  color: #4a4a4a;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
 border-left: .3rem solid #f03d4d;
}



/* -------- FONT -------- */
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 4rem; /* 64px */
  letter-spacing: .05rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

strong {
  font-weight: 700;
}

.light {
  font-weight: 200;
  font-family: 'Nunito Sans';
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: #363636;
    line-height: 1.125em;
    margin: 1rem 0;
}

.title {
  font-weight: bolder;
}

.title:not(:last-child), .subtitle:not(:last-child) {
    margin-bottom: 1rem;
}

.accent .subtitle {
    color: rgba(255, 255, 255, 0.9);
}

.title + .subtitle { /* Make the subtitlte closer to the title */
    margin-top: -1.25rem;
}

p, article, blockquote {
  font-size: 1rem;
  line-height: 2rem;
      margin: 2rem 0;
      word-wrap: break-word;
}

/* Weights */
.font-thin {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.rtl {
  direction: rtl;
}

.white {
  color: #fff !important;
}

.faded {
  opacity: 0.75;
}

.italics {
  font-style: italic;
}

/* Font Awesome */
.icon { /* Usually used in spans */
  display: inline-block;
font-size: 21px; /* Best font sizes are multiples of 7 */
height: 1.5rem;
line-height: 1.5rem;
text-align: center;
vertical-align: top;
width: 1.5rem;
}

.icon .fa {
    font-size: inherit;
    line-height: inherit;
}
.fa {
    font-size: 21px;
    text-align: center;
    vertical-align: top;
}

.info {
    display: block;
    font-size: 0.75rem;
    margin-top: 5px;
}

.info.success {
  color: #4CAF50;
}

.info.error {
  color: #F44336;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

/* MOBILE */

@media (max-width: 550px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.75rem;
  }
}

/* -------- FOOTER -------- */
footer {
    width: 100%;
    padding: 50px 0 10px;
    background: #111;
    text-align: center;
    margin-top: 5rem;
}

footer a {
    font-weight: bolder;
    color: #fff;
}

footer p {
    color: #848484;
}

footer h6 {
    text-align: center;
    letter-spacing: 6px;
    position: relative;
    padding-bottom: 10px;
}

/* The heart (you can set a custom id if you want) */
footer p .fa {
        color: #E90606;
    margin: 0 3px;
    animation: pound 0.35s infinite alternate;
    -webkit-animation: pound 0.35s infinite alternate;
        vertical-align: baseline;
}

/* -------- FORMS -------- */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"], select {
  width: 100%;
  border: 1px solid #ddd;
  padding: .8rem;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.05);
  border-radius: 3px;
  color: #5a5a5a;
  font-family: 'Nunito Sans';
  font-size: .85rem;
  letter-spacing: .02rem;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: none;
  margin: .5rem 0;
   padding: .85rem 1.1rem;
}

textarea, textarea[type=text] {
  width: 100%;
  border: 1px solid #ddd;
  padding: .8rem;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.05);
  border-radius: 3px;
  color: #5a5a5a;
  font-family: 'Nunito Sans';
  font-size: .85rem;
  letter-spacing: .02rem;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: none;
  margin: .5rem 0;
   padding: 1rem 1.3rem;
       min-height: 8rem;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus, select:focus, textarea:focus, textarea[type=text]:focus {
    box-shadow: inset 0px 1px 8px rgba(0,0,0,0.1);
    border-color: rgba(0, 102, 255, 0.5);
}

.label:not(:last-child) {
    margin-bottom: 0.5em;
}
.label {
    color: #4a4a4a;
    display: block;
    font-weight: bold;
}

.text-success {
    border-color: #4CAF50 !important;
}

.text-error {
    border-color: #F44336 !important;
}

/* -------- HEADER -------- */
.header {
        -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; /* Make items fill up all available space regardless of width https://drafts.csswg.org/css-align/ */
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 3.5rem;
    position: relative;
    text-align: center;
    z-index: 2;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 3px 15px rgba(57, 63, 72, 0.3);
}

/* These styles can also be used on menus in the body */
.header-left, .header-right {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
}

/* Align items to the left */
.header-left {
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

/* Align items to the right */
.header-right {
       display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

/* Centering items */
.header-center {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* Static header at the top of the screen */
.header-fixed {
    position: fixed;
}

/* Wrapper to vertically center header items */
.header-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding: 0 .3rem;
    cursor: hand;
}

.header-item a {
    padding: 0.5rem 0.75rem;
}

/* Hover effect for header elements when appropriate */
.header-item:not(.no-hover):hover {
     -webkit-transition: all .3s;
     transition: all .3s;
      background-color: rgba(0, 0, 0, 0.05);
}

.header-item.selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/* HEADER DROP DOWN MENU */
.header-item .dropdown-menu {
        margin-top: -5px;
    background-color: #fff;
    border-radius: 2px;
        position: absolute;
    top: 95%;
    z-index: 1000;
    display: none !important;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.1);
    box-shadow: 0 6px 12px rgba(0,0,0,.1);
}

.dropdown-menu.shown{
    display: block !important;
}

.dropdown-menu > li > a {
    display: block;
        padding: .5rem 1rem;
    clear: both;
    line-height: 1.42857143;
    white-space: nowrap;
}

.dropdown-menu > li {
  margin: 0;
    -webkit-transition: all .3s;
     transition: all .3s;
}

.dropdown-menu > li:hover {
    -webkit-transition: all .3s;
     transition: all .3s;
      background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-menu > li:last-child {
    margin-bottom: 0;
}

.header-btn {
    cursor: pointer;
    display: block;
    height: 3.5rem;
    position: relative;
    width: 3.5rem;
}

@media screen and (min-width: 769px) {
    .header-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .header-btn {
    display: none;
}
}

@media screen and (max-width: 768px) {
  .header-menu.is-active {
      display: block;
  }

/* Dropdown menu for smaller screen sizes */
  .header-menu {
        background-color: white;
    box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);
    left: 0;
    display: none;
    right: 0;
    top: 100%;
    position: absolute;
  }

  .dropdown-menu.shown {
    margin-top: 0;
    position: relative;
    float: left;
    margin-left: 20px;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* Make the menu items larger in the dropdown menu */
  .header-menu .header-item {
    padding: 1rem 0;
  }

  /* Get rid of extra spaces */
  .header-menu .header-item > a {
    padding: 0;
  }

  /* Hamburger button */
  .header-btn span {
        background-color: #4D565F;
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    top: 50%;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out;
    -webkit-transition-property: background, left, opacity, -webkit-transform;
    transition-property: background, left, opacity, -webkit-transform;
    transition-property: background, left, opacity, transform;
    transition-property: background, left, opacity, transform, -webkit-transform;
    width: 15px;
  }

  /* Line spacing in hamburger button */
  .header-btn span:nth-child(1) {
    margin-top: -6px;
  }

  .header-btn span:nth-child(2) {
    margin-top: -1px;
  }

  .header-btn span:nth-child(3) {
    margin-top: 4px;
  }
}

/* -------- LAYOUT -------- */

.content {
  max-width: 60em;
  margin: 0 auto 1.5em;
  width: 80%;
}

.content blockquote {
  background-color: #f5f5f5;
  border-left: 5px solid #dbdbdb;
  padding: 1.5rem;
}

.content-fluid {
  width: 100%;
  margin: 1.3rem;
}

.fullscreen {
   top:0;
   right:0;
   bottom:0;
   left:0;
   height: 100vh;
}

/* This works well with panel */
section {
    display: block;
}

.panel {
    padding: 2.5em 0;
}

/* This works well with spans and maybe even hr */
.divider {
  display: block;
  height: 3px;
  position: relative;
  border-top: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #eee;
      width: 100%;
}

.divider-short {
  max-width: 15rem;
  width: 100%;
}

/* Hero image div */
.hero-img {
  /* Specify the backgroud image yourself */
  background-size: cover;
width: 100%;
height: 100%;
}

.parallax-img {
  background-attachment: fixed !important;
}

.hero { /* Parent of hero-body */
  -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* Important to stretch height of hero-body */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hero-body {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; /* Tells the hero-body to take up the entire space */
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
    -webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

space {
  display: block;
  width: 100%;
  height: 1em;
}

/* Use for spacing out elements vertically */
.row {
  margin-top: 2.2833%;
  padding: 0 1.04165%; /* Space out top and sides */
}

.row:after {
  content: '';
  clear: both;
  display: table;
}

/* GRID */
.row .col-1 {
  width: 6.42291%;
}

.row .col-2 {
  width: 14.930208%;
}

.row .col-3 {
  width: 23.4375%;
}

.row .col-4 {
  width: 31.94375%;
}

.row .col-5 {
  width: 40.25%;
}

.row .col-6 {
  width: 48.958333%;
}

.row .col-7 {
  width: 57.464583%;
}

.row .col-8 {
  width: 65.970833%;
}

.row .col-9 {
  width: 74.404166%;
}

.row .col-10 {
  width: 82.9833%;
}

.row .col-11 {
  width: 91.489583%;
}

.row .col-12 {
  width: 100%;
}

/* Use in parent div of fluid col */
.fluid-container {
  display: flex;
}

.row .col-fluid {
  display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

/* Some offset values */
.row [class^='col-'], .row [class*=" col-"] {
  float: left; /* Keeps the elements in 1 row */
  min-height: 50px;
  margin-left: 2.083333%;
}

.row [class^='col-']:first-child, .row [class*=" col-"]:first-child{
  margin-left: 0;
}

/* Used for aligning contrls next to each other */
.row.has-controls {
      display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

/* Divider for multiple elements in a div */
.divided >.fluid-container:not(.row), .divided >.row [class^='col-'] {
    box-shadow: -1px 0 0 0 rgba(34,36,38,.15);
}

/* Remove border in first child */
.divided >.row [class^='col-']:first-child, .divided >.row [class^='col-']:first-child {
    box-shadow: none;
}

.level {
  -webkit-box-align: center;
-ms-flex-align: center;
-ms-grid-row-align: center;
align-items: center;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
}

.level-left {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; /* Start for left */
}

.level-right {
    -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; /* End for right */
}

.level-item { /* Centers items */
      -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* MOBILE */
@media screen and (max-width: 768px) {
  .row {
    margin-top: 0;
  }

  .row [class^='col-']:not(.ignore-screen), .row [class*=" col-"]:not(.ignore-screen) { /* Remove the grid structure for smaller screens */
    width: 100%;
    margin-top: 1rem;
    margin-left: 0;
  }

  /* Increase space with cards */
  .fluid-container  [class^='col-']:not(.ignore-screen), .row [class*=" col-"]:not(.ignore-screen) {
    margin-top: 1rem;
  }

  .fluid-container {
    display: inherit;
  }

  /* Dividers for mobile layout */
  .divided >.fluid-container:not(.row), .divided >.row [class^='col-'] {
    box-shadow: 0 -1px 0 0 rgba(34,36,38,.15);
}
}

/* -------- LINKS -------- */
a {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #4D565F;
  text-decoration: none;
  font-weight: 600;
      padding: 2px;
      -webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

a:hover {
  color: #7C8B9A;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-backface-visibility:hidden;
         backface-visibility:hidden;
}

a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
	text-decoration:none;
}

/* Animated links */

/* Underline */

.u:after {
  content: "";
  -webkit-transition: all .3s;
  transition: all .3s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      height: 0.1rem;
      width: 0;
      background: #7C8B9A;
      bottom: -0.25em;
}

.u:hover:after {
  width: 100%
}

.u-LR:after { /* Left to Right */
  left: 0;
}

.u-RL:after { /* Right to Left */
  right: 0;
}

.u-RL:hover:after {
  width: 100%;
}

.u-C:after { /* Center Outwards */
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}

/* Underline top and bottom */
.utb:before, .utb:after {
  content: "";
  -webkit-transition: all .3s;
  transition: all .3s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      height: 0.1rem;
      width: 0;
      background: #7C8B9A;
}

.utb:before {
  top: -0.25em;
}

.utb:after {
  bottom: -0.25em;
}

.utb:hover:before, .utb:hover:after {
  width: 100%;
}

.utb-LR:before, .utb-LR:after {
  left: 0;
}

.utb-RL:before, .utb-RL:after {
  right: 0;
}

.utb-C:before, .utb-C:after {
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}

/* Opposite start */
.utb-OLR:before { /* Suffix denotes border transition direction for the top border (left to right). Bottom border will be the opposite direction */
  left: 0;
}

.utb-OLR:after {
  right: 0;
}

.utb-ORL:before {
  right: 0;
}

.utb-ORL:after {
  left: 0;
}

/* Links with square borders */

/* Please note that usquare is the parent span (not div) which would create the left and right borders. The link (.utb-OLR) gets nested within this */

.usquare{
  box-sizing:border-box; /* keeps the border from resizing the link */
  margin-left: 0.4rem;
  position: relative;
  overflow: hidden;
}

.usquare a{
  position: static;
  padding: 0.2rem 0.4rem;
}

.usquare:before, .usquare:after{
  content: "";
  box-sizing: border-box;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  width: 2px;
  width: 0.1 rem;
  height: 0;
  background: #7C8B9A;
}

.usquare:before{
  left: 0;
  bottom: -0.2rem;
}

.usquare.delay:before{
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.usquare:after{
  right: 0;
  top: -0.2rem;
}

.usquare.delay:after{
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.usquare a:before {
  left:0;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.usquare a:after {
  right:0;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.usquare.delay a:after {
  -webkit-transition: 0.25s all ease 0.4s;
  transition: 0.25s all ease 0.4s;
}

.usquare:hover:before, .usquare:hover:after{
  height:calc(100% + 0.4rem); /* Makes the left and right borders */
}

.usquare:hover a:before, .usquare:hover a:after{
  width:100%;
}



/* -------- LISTS -------- */
ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

dl {

}

li {
  margin: 1rem 0;
}

li:last-child {
  margin-bottom: 1rem;
}

/* -------- TABLE -------- */

.table {
    margin-bottom: 1.5rem;
    width: 100%;
    border-collapse: collapse; /* Allows us to set 0 margin in table cells */
    border-spacing: 0;
}

.table td, .table th {
        border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: 0.75rem;
    vertical-align: top;
    text-align: center;
    margin: 0;
}

.table tr {
    -webkit-transition: all .3s;
    transition: all .3s;

}

.table tr:hover, .table.striped tbody tr:nth-child(even):hover {
    background: #eee;
}

/* Thicker border for table header */
.table thead th, .table thead {
    border-bottom: 2px solid #dbdbdb;
}

.table.bordered thead th, .table.bordered thead {
    border-bottom: 1px solid #dbdbdb;
}

.table thead th, .table tfoot th {
      padding: 1rem;
}

.table tfoot th {
  border-top: 2px solid #dbdbdb;
  border-bottom: none;
}

/* CUSTOM STYLES */
/* All borders */
.table.bordered td, .table.bordered th {
  border: 1px solid #dbdbdb;
}

.table.bordered thead td, .table.borderd thead {
  border-width: 1px;
}

/* Striped table */
.table.striped tbody tr:nth-child(even) {
    background-color: #fafafa;
}


/* Decrease padding */
.table.small td, .table.small th {
    padding: 0.25rem 0.75rem;
}

/* Fixed title table */
.table.fixed-head thead {
      position: relative;
    display: block;
}

.table.fixed-head tbody {
      height: 200px; /* Set the height you want */
    display: block; /* Needed */
    overflow: auto; /* Shows scrollbars */
}

.table.fixed-head tr {
  display: table;
    width: 100%; /* Forces row to span container */
}

/* -------- UTIL -------- */
/* Utility classes to help solve some very annoying issues */

.this-inline {
  display: inline;
}

.this-inline-block {
  display: inline-block;
}

.this-inline-flex {
  display: -webkit-inline-bpx;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/*
   When using floats, clearfix allows the container to automatically resize so that
   other elements are not blocked by children.
*/

.clearfix:after {
  clear: both;
  content: " ";
  display: table;
}

/* This is mainly to keep elements from overlapping when using floats */
.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clear-both {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

/* Center element - best used for hero bodies or text */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
      margin: 0 auto;
}

.center-alt, .center-alt:hover, .center-alt:active { /* If flexbox method fails, this works for elements with unknown dimensions */
  position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.vertical-center {
  display: flex;
  justify-content: center;
}

.horizontal-center {
  display: flex;
  align-items: center;
}

.this-overlay {
  bottom:0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.hide-overflow {
  overflow: hidden !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.hide {
  display: none !important;
}

.disabled {
  cursor: not-allowed;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: block;
  padding: 20px;
}

.box:not(:last-child) {
  margin-bottom: 20px;
}

/* Avatar */
.avatar {
  border-radius: 50%;
    position: relative;
        display: block;
    margin: auto;
}

.fill-width {
  width: 100%
}

/* Do the actual balancing only on larger screens */
@media screen and (min-width: 769px) {
.level, .level-left, .level-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }


}
