<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Web</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
  </head>
  <body>
    <div class="" id="demo">

    </div>




    <div w3-include-html="http://192.168.1.2/adsdemo/public/demohtml/popup.html"></div>




  <script>
  setTimeout(function () {
    //w3.displayObject("id01", {"name" : "merhaba"});
  }, 10);
  </script>

  <!-- <select id="id01">
    <option w3-repeat="customers">{{CustomerName}}</option>
  </select> -->

  <script>
      w3.includeHTML();
  //  w3.includeHTML(bekleBak);
  function bekleBak(myFile) {
      //w3.getHttpObject("http://adsdemo.dev/uploads/w3_reklam.json", myFunction);
  }

//w3.getHttpObject("http://adsdemo.dev/uploads/w3_reklam.json", myFunction);
  function myFunction(myObject) {
    w3.includeHTML();
  //  console.log(myObject);
    //w3.displayObject("id01", {"name" : "merhaba"});
    setTimeout(function () {
      w3.displayObject("id01", myObject);
    }, 10);

  }
  </script>

  <script type="text/javascript">

  setTimeout(function () {
    document.getElementById('id010').style.display = 'block'

  }, 500);
  </script>


  </body>
</html>
